layout {

    cwd "."

    default_tab_template {
        pane size=2 split_direction="vertical" {
            pane size="70%" borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane size="30%" borderless=true {
                plugin location="file:~/.config/zellij/plugins/zellij-what-time.wasm"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    // new_tab_template doesn't automatically inherit from the default_tab_template
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="3-split" focus=true {
        pane split_direction="vertical" {
            pane focus=true
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    tab name="Git" {
        pane split_direction="vertical" {
            pane size="50%" name="lazygit" command="lazygit" {
            }
            pane size="50%" name="Git la" command="git" {
                args "la"
            }
        }
    }

    tab name="shell" {
        pane
    }

    tab name="Tab 4" {
        pane
    }

}

