layout {

    cwd "."

    default_tab_template {
        pane size=2 split_direction="vertical" {
            pane size="70%" borderless=true {
                plugin location="zellij:tab-bar"
            }
            pane size="30%" borderless=true {
                plugin location="file:~/.config/zellij/plugins/zellij-what-time.wasm"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    // new_tab_template doesn't automatically inherit from the default_tab_template
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Dev" focus=true {
        pane split_direction="vertical" {
            pane size="30%" borderless=true name="Live Server" {
                // args of live server
            }
            pane size="70%" focus=true borderless=true command="nvim" name="Code" {
            }
        }
    }

    tab name="Git" {
        pane split_direction="vertical" {
            pane size="50%" command="lazygit" name="lazygit"
            pane size="50%" command="git" name="Git la" {
                args "la"
            }
        }
    }

    tab name="shell" {
        pane
    }

}

