name: Dotbot Docker config test
# Test configuration for Dotbot (https://github.com/anishathalye/dotbot)

on:
  push:
    branches: [ main ]
    paths:
      - 'install.conf.yaml'
      - '.github/workflows/dotbot.yml'
  workflow_dispatch:

jobs:
  test-dotbot-config:
    name: Dotbot Docker Configuration Test
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # preparing environment for docker build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build base Docker image
        run: |
          docker build -t pirafrank/dotbot:latest -f dotbot/dotbot.dockerfile dotbot/

      - name: Build dotfiles Docker image
        run: |
          docker build -t dotfiles-test -f dotbot/Dockerfile .
